html(lang='en')
    head
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        .coverimage(style="text-align:center; height:324px; width:617px; font-family:'Lato Light';background-image: url(\"https://graph.facebook.com/"+id+"/picture?type=large\");     background-size: cover; display: table;")
            .text(style="-webkit-font-smoothing: antialiased;font-size:20px; -webkit-border-radius:4px; padding:15px;   max-width:80%; display: inline-block;  display: table-cell; vertical-align: middle; background-color:rgba(0, 0, 0, 0.9); font-size:30px; color:#FFF;") #{first_name} , #{quote.info}