doctype  
html(lang='en')
    head
        style.
            @font-face {
            font-family: "Open Sans";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Bold.woff") format('woff');
            }
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        .coverimage(style="text-align:center; height:335px; width:620px; font-family:'Open Sans'; background: transparent url('"+picture.data.url+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;   font-weight:700;")
            .text(style="color:#FFF; -webkit-font-smoothing: antialiased; -webkit-border-radius:4px; padding:5px;   max-width:80%;   ") !{quiz.title}
            each fr,i in all
                img(src=fr.picture.data.url, alt="alt" height="150" style="border-radius: 75px;margin:4px; ")
