- var fem = Math.floor(Math.random() * data.quotes1.female.length);
- var mal = Math.floor(Math.random() * data.quotes1.male.length);
html
    head
        meta(charset='utf-8')
        style.
            .ass { 
            margin-top:260px;
            text-transform: uppercase;
            font-size:30px;
            background-color:#FFF;
            padding:10px;
            top:200px;
            }
    body(style="margin:0;padding:0; width:617px; height:324px;") 
        .coverimage1(style="text-align:center; height:324px;  width:50%; float:left; font-family:'Lato Light';  background: transparent url('https://graph.facebook.com/"+id+"/picture?type=large')  no-repeat center center; background-size: cover; display: table;")
            |<br><br><br><br><br><br><br><br><br><br><br><br>
            span.ass #{first_name} 
    if gender == 'female'
        div.letter(style="text-align:center; height:324px; width:50%; float:right; font-family:'Lato Light'; background: transparent url('http://www.izteglisi.club/images/izteglisi/celeb/"+data.quotes1.female[fem]+"')  no-repeat center center; background-size: cover; display: table;") 
            |<br><br><br><br><br><br><br><br><br><br><br><br>
            span.ass #{data.quotes1.female[fem].replace('300','').replace('.jpg','').replace('female-','').replace('-',' ').replace('1','')} 
    else
        div.letter(style="text-align:center; height:324px; width:50%; float:right; font-family:'Lato Light'; background: transparent url('http://www.izteglisi.club/images/izteglisi/celeb/"+data.quotes1.male[mal]+"')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;")
            |<br><br><br><br><br><br><br><br><br><br><br><br>
            span.ass #{data.quotes1.male[mal].replace('300','').replace('.jpg','').replace('male-','').replace('-',' ').replace('1','')} 