@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic");
body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  color: #363636;
  font-family: "Roboto";
  font-weight: 300;
}

p {
  padding: 0;
  margin: 0;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 2px;
}

.resultimg {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 100%;
}

.center {
  text-align: center;
}

button {
  border-radius: 3px;
  position: relative;
  margin: auto;
  vertical-align: top;
  font-weight: 400;
  font-size: 1.5rem;
  height: 60px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3367d6;
  border: 0;
  border-bottom: 2px solid #363636;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #363636;
  box-shadow: inset 0 -2px #363636;
}

button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jumbotron {
  text-align: center;
  color: #f8f8f8;
  font-weight: 400;
  margin: 0.2rem;
  border-radius: 2px;
}

.jumbotron .inner .display1 {
  padding: 0;
}

#applist {
  margin: 0.2rem;
  clear: both;
  display: block;
}

#applist a {
  float: left;
  margin: 0.5%;
  border-radius: 2px;
  color: #fff;
  min-height: 300px;
}

#applist a .label {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.7rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#applist a .description {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.7rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#applist a .image img {
  width: 100%;
}

a {
  text-decoration: none;
}

.attached {
  background-color: #4080ff;
  margin: 0.2rem;
  padding: 1rem;
  color: #f8f8f8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-weight: 300;
  border-radius: 2px;
}

.question {
  margin: 0.2rem;
}

.question .label {
  color: #f8f8f8;
  background-color: #4080ff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-weight: 400;
}

.question .segments {
  margin-top: -2px;
  border-top: solid 2px #4080ff;
}

.question .segments .radio {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: solid 2px #4080ff;
  border-left: solid 2px #4080ff;
  border-right: solid 2px #4080ff;
}

.question .segments .radio:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.question .segments .checkbox {
  cursor: pointer;
}

.question .segments label {
  cursor: pointer;
}

.separator {
  color: #f8f8f8;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: #dd1144;
}

.header {
  padding: 0;
  margin: 0.2rem;
  background-color: #dd1144;
  list-style-type: none;
  border-radius: 2px;
}

.header li {
  color: #f8f8f8;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
