doctype 
html(lang='en')
    head
        meta(charset='utf-8')
        script(src="file:///app/_views/jquery.js")
        style.
            i {font-family:'Apple Color Emoji'; font-style:normal;}
            .text {-webkit-font-smoothing: antialiased;font-size:15px;  padding:3px; -webkit-transform: rotate(-1deg);    display: table-cell; vertical-align: middle; position:absolute; left:340px; width:140px; height:85px; top:40px; }
    body(style="margin:0;padding:0; height:324px; width:617px; text-align:center; overflow:hidden; background-color:#"+color+"; color:#FFF; font-size:25px;")
        #first_name 
            i 
            span(style="font-family:'Lato';") #{first_name}
            i  
        img(src="https://graph.facebook.com/"+id+"/picture/?type=large", alt="" style="border-radius:50%;")
        #token(style="display:none;") #{accessToken}
        #years(style="display:none;") #{data.quotes.join(',')}
        #izglejdana(style="display:none;") #{data.izglejdana}
        #text(style="font-family:'Lato';")
        script(type='text/javascript').
            var token = $('#token').text();
            var izglejdana = $('#izglejdana').text();
            var yearstext = $('#years').text().split(',');
            $.getJSON( "https://graph.facebook.com/me/?fields=first_name,birthday&access_token="+token+"", function( data ) {
            var hrbirthday = data.birthday.split("/");
            var currentTime = new Date();
            var currentYear = currentTime.getFullYear();
            var year = hrbirthday[2];
            var real_godini = currentYear - year;
            var rand;
            if (real_godini <= 18) {
            rand = 5;
            } else if (real_godini >= 19 && real_godini <= 35) {
            rand = -6;
            } else if (real_godini >= 35) {
            rand = -14;
            }
            var quote_id;
            var randomnumber = Math.floor(Math.random() * rand);
            quote_id = real_godini + randomnumber;
            $('#text').html('<i>😳😺 </i>'+izglejdana+' '+yearstext[quote_id]+'<i> 😎😳</i>');
            });

